.bgh {
  background-image: url(../../public/images/hero/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45% center;
  display: block;
  height: calc(100vh + 5rem);
}
.join-class:hover .rotate-el {
  animation: rotate 0.8s ease-in-out;
  -webkit-animation: rotate 0.8s ease-in-out;
}
.whoAreWeBg{
  background-image: url("../../public/images/who-we-are/background.jpg");
}
.bgHover:hover {
  background-image: url("../../public/images/who-we-are/info-card-bg.jpg");
}
.whoarediv{
  background-image: url("../../public/images/who-we-are/girl-redbg.svg"), url("../../public/images/who-we-are/girl-side-text.png");
  background-position: 70% center, 0% center;
  background-size: auto, contain;
} 
.whoarespan {
    background-image: url("../../public/images/who-we-are/wind.png");
    background-size: cover;
}
.ourFeatured .ourFeaturedSpan{
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 40px;
  pointer-events: none;
}
.ourFeatured:nth-child(1) .ourFeaturedSpan{
  background-image: url("../../public/images/features/gym-bike.png");
}
.ourFeatured:nth-child(1):hover .ourFeaturedSpan{
  background-image: url("../../public/images/features/bike-red.png");
}
.ourFeatured:nth-child(2) .ourFeaturedSpan{
  background-image: url("../../public/images/features/karate.png");
}
.ourFeatured:nth-child(2):hover .ourFeaturedSpan{
  background-image: url("../../public/images/features/karate-red.png");
}
.ourFeatured:nth-child(3) .ourFeaturedSpan{
  background-image: url("../../public/images/features/dumbbell.png");
}
.ourFeatured:nth-child(3):hover .ourFeaturedSpan{
  background-image: url("../../public/images/features/dumb-red.png");
}
.ourFeatured:nth-child(4) .ourFeaturedSpan{
  background-image: url("../../public/images/features/yoga.png");
}
.ourFeatured:nth-child(4):hover .ourFeaturedSpan{
  background-image: url("../../public/images/features/yoga-red.png");
}
.ourFeatured:nth-child(5) .ourFeaturedSpan{
  background-image: url("../../public/images/features/boxer.png");
}
.ourFeatured:nth-child(5):hover .ourFeaturedSpan{
  background-image: url("../../public/images/features/boxer-red.png");
}
.ourFeatured:nth-child(6) .ourFeaturedSpan{
  background-image: url("../../public/images/features/workout.png");
}
.ourFeatured:nth-child(6):hover .ourFeaturedSpan{
  background-image: url("../../public/images/features/workout-red.png");
}
.ctaBg {
  background-image: url("../../public/images/choose-us/cta-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.whyChooseUsBg {
  background-image: url("../../public/images/choose-us/choose-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.GymTrainersBg {
  background-image: url("../../public/images/trainers/bg-attachment.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right top;
}
.cardBg {
  background-image: url("../../public/images/trainers/trainer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.testiMonialsBg {
  background-image: url("../../public/images/testimonials/testimonial-shape.svg");
  background-size: 160px;
  background-repeat: no-repeat;
  background-position: 85% bottom;
}
.gymateGalleryBg {
  background-image: url("../../public/images/gallery/bg-icon.png");
  background-size: 340px;
  background-repeat: no-repeat;
  background-position: right 5%;
}
.BmiBg {
  background-image: url("../../public/images/bmi/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
@media (max-width: 768px) {
  .BmiBg {
    background-position: 84% center;
  }
}
.pricingChartBg {
  background-image: url("../../public/images/pricing/bg-text.png"), url("../../public/images/pricing/bg-dumbell.png"),  url("../../public/images/pricing/background.jpg");
  background-size: 250px, 250px, cover;
  background-repeat: no-repeat;
  background-position: left 20%, right 80%, center center;
}
.needAFitTrainBg {
  background-image: url("../../public/images/call/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}



@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  99% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
